*{
    margin: 20;
    padding:0;
    box-sizing: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

body {
    background-color: #111111;
}


#grid_container_uno > H1 {
    margin-top: 40px;
    background-color: #111111;
}


#grid_container {
    padding-top: 80px;
    display: grid;
    columns: 3;
    grid-template-columns: 20% 20% 60%;
    grid-template-rows: auto auto auto;
    background-color: #111111;
}



#dropdowns{
    border: 1px solid #636e72;
    padding: 10px;
    background-color: #111111;
    margin-right: 50px;
    box-shadow: 2px -2px 2px #636e72;
}

.has-value.Select--single>.Select-control .Select-value .Select-value-label, .has-value.is-pseudo-focused.Select--single>.Select-control .Select-value .Select-value-label {
    color: white;
}

.VirtualizedSelectOption {
    background-color: #111111;
    color: white;
}

.VirtualizedSelectFocusedOption {
    background-color: #ff1178;
    color: white;
    
}

#Chart_Dropdown_Container {
    padding-top: 50px;
}

#Chart_Dropdown_Container2 {
    display: grid;
    columns: 2;
    grid-template-columns: 35% 60%;
}

#p_timespan, #p_intervall {
    font-size: large;
    margin-bottom: 100;
    text-align: left;
}

#stock_data_container {
    border: 1px solid #636e72;
    display: grid;
    columns: 2;
    grid-template-columns: 50% 50%;
    padding: 10px;
    margin-right: 50px;
    box-shadow: 2px -2px 2px #636e72;
}

#stock_data_container > p {
    padding: 2px;
}

.dynamic_stock_data {
    text-align: right;
}

#company_data_container {
    border: 1px solid #636e72;
    padding: 10px;
    box-shadow: 2px -2px 2px #636e72;
    
}

#graph_container {
    border: 1px solid #636e72;
    margin-top: 50px;
    box-shadow: 2px -2px 2px #636e72;
}

#extended_company_data_container {
    border: 1px solid #636e72;
    margin-top: 20px;
    box-shadow: 2px -2px 2px #636e72;
}

#inner_extended_company_data_container {
    display: grid;
    columns: 6;
    grid-template-columns: 17% 17% 17% 17% 17% 17%;
    text-align: left;
    align-items: center;
}

#news_container{
    border: 1px solid #636e72;
    margin-top: 20px;
    box-shadow: 2px -2px 2px #636e72;
}

#inner_news_container{
    display: grid;
    columns: 4;
    grid-template-columns: 25% 25% 25% 25%;
}

#article1, #article2, #article3, #article4 {
    border: 1px solid #ff1178;
    margin-left: 20px;
    margin-right: 20px;
}

